In [1]:
from datafuzz.generators import DatasetGenerator
from datafuzz import Duplicator
from datetime import datetime, timedelta
from pprint import pprint

In [2]:
generator = DatasetGenerator({
    'num_rows': 1000,
    'schema': {'machine_id': range(1,10),
               'operator_name': 'faker.name',
               'warehouse': ['main', 'secondary', 'outsourced'],
               'malfunction': range(1),
              },
    'start_time': datetime.now() - timedelta(days=5),
    'output': 'dataset',
    'increments': 'hours',
})

In [3]:
generator.generate()

In [4]:
for record in generator.records[:2]:
    pprint(record)

{'machine_id': 5,
 'malfunction': 0,
 'operator_name': 'Randy Moore',
 'timestamp': '2017-08-29T21:14:01.848250',
 'warehouse': 'outsourced'}
{'machine_id': 5,
 'malfunction': 0,
 'operator_name': 'Ruben Jones',
 'timestamp': '2017-08-30T00:14:01.848250',
 'warehouse': 'main'}

In [5]:
dataset = generator.to_output()

In [6]:
dataset

In [7]:
dataset.records.head()

,machine_id,malfunction,operator_name,timestamp,warehouse
0,5,0,Randy Moore,2017-08-29T21:14:01.848250,outsourced
1,5,0,Ruben Jones,2017-08-30T00:14:01.848250,main
2,5,0,Morgan Graham,2017-08-30T05:14:01.848250,secondary
3,3,0,Scott White,2017-08-30T15:14:01.848250,secondary
4,1,0,Amanda Barnett,2017-08-30T20:14:01.848250,main

In [8]:
dataset.data_type

'pandas'

In [9]:
dataset.records.duplicated().any()

False

In [10]:
duper = Duplicator(dataset, percentage=10)

In [11]:
duper.run_strategy()

In [12]:
dataset.records.duplicated().any()

True

In [13]:
dataset.records[dataset.records.duplicated()]

,machine_id,malfunction,operator_name,timestamp,warehouse
77,1,0,Tina Guerrero,2017-09-16T18:14:01.848250,secondary
372,2,0,Stephanie Garcia,2017-11-23T05:14:01.848250,main
165,9,0,Michele Garrett,2017-10-06T02:14:01.848250,main
791,7,0,Earl Phelps,2018-02-25T11:14:01.848250,outsourced
677,6,0,Jennifer Becker,2018-01-31T01:14:01.848250,secondary
950,4,0,Jeffery Woodard,2018-03-31T15:14:01.848250,main
806,4,0,Courtney Maldonado,2018-02-28T15:14:01.848250,main
844,9,0,Laurie Miller,2018-03-08T11:14:01.848250,outsourced
50,9,0,Andrew Murray,2017-09-10T18:14:01.848250,outsourced
569,2,0,Michael Walker,2018-01-07T05:14:01.848250,outsourced
64,7,0,Wendy Stone,2017-09-13T04:14:01.848250,outsourced
539,5,0,Madeline Mayo,2017-12-30T17:14:01.848250,main
420,2,0,Teresa Morgan,2017-12-04T14:14:01.848250,outsourced
37,6,0,Sean Smith,2017-09-07T05:14:01.848250,secondary
985,5,0,Laurie Mitchell,2018-04-09T02:14:01.848250,main
560,9,0,Lacey Scott,2018-01-04T17:14:01.848250,outsourced
838,8,0,Tammy Wolfe,2018-03-07T14:14:01.848250,main
512,7,0,Mrs. Abigail Rodgers,2017-12-24T04:14:01.848250,secondary
528,5,0,David Cook,2017-12-28T02:14:01.848250,secondary
727,2,0,Paul Robinson,2018-02-11T14:14:01.848250,outsourced
879,1,0,Bryan Massey,2018-03-15T21:14:01.848250,outsourced
142,3,0,Sharon Crane,2017-10-01T06:14:01.848250,outsourced
251,1,0,Robert Scott,2017-10-24T21:14:01.848250,outsourced
147,6,0,Rebecca Wade,2017-10-02T06:14:01.848250,main
2,5,0,Morgan Graham,2017-08-30T05:14:01.848250,secondary
655,5,0,Robin Cunningham,2018-01-26T01:14:01.848250,main
696,5,0,Robert Ortiz,2018-02-04T21:14:01.848250,outsourced
651,1,0,Lisa Holland,2018-01-25T01:14:01.848250,main
575,5,0,Andrew Shields,2018-01-08T21:14:01.848250,secondary
374,6,0,Robert Porter,2017-11-24T00:14:01.848250,main
...,...,...,...,...,...
708,7,0,Marilyn Mcknight,2018-02-07T12:14:01.848250,main
649,4,0,Olivia Jarvis,2018-01-24T16:14:01.848250,outsourced
369,5,0,Thomas Brown,2017-11-22T08:14:01.848250,secondary
890,7,0,Joseph Snyder,2018-03-18T09:14:01.848250,main
600,7,0,Heidi James,2018-01-14T14:14:01.848250,outsourced
465,8,0,Kelly Reed,2017-12-14T04:14:01.848250,secondary
143,8,0,Tracey Garrison,2017-10-01T09:14:01.848250,outsourced
425,6,0,Kenneth Oneal,2017-12-05T21:14:01.848250,outsourced
347,9,0,Logan Wang,2017-11-17T12:14:01.848250,outsourced
227,6,0,Darlene Tanner,2017-10-19T09:14:01.848250,outsourced
285,3,0,John Thompson,2017-11-02T10:14:01.848250,outsourced
505,4,0,Melvin Ortiz,2017-12-22T18:14:01.848250,main
36,2,0,Hannah Torres,2017-09-06T22:14:01.848250,main
688,6,0,Michele Wilson,2018-02-02T16:14:01.848250,secondary
455,8,0,Eric Rose,2017-12-11T16:14:01.848250,main
334,9,0,Kiara Baxter,2017-11-14T07:14:01.848250,outsourced
141,6,0,Bryan Castaneda,2017-10-01T00:14:01.848250,outsourced
101,1,0,Lauren Hall,2017-09-21T14:14:01.848250,outsourced
517,4,0,Danny Gutierrez,2017-12-25T10:14:01.848250,secondary
105,9,0,Austin Stevens,2017-09-22T07:14:01.848250,main
574,1,0,Carrie Guzman,2018-01-08T15:14:01.848250,main
169,5,0,Ryan Kim,2017-10-07T06:14:01.848250,outsourced
961,3,0,William Chandler,2018-04-02T22:14:01.848250,outsourced
780,1,0,Eric Rodriguez,2018-02-23T09:14:01.848250,main
719,2,0,Tamara Miller,2018-02-09T23:14:01.848250,secondary
264,4,0,Troy Camacho,2017-10-28T04:14:01.848250,secondary
69,8,0,Caleb Wilkins,2017-09-14T12:14:01.848250,main
909,7,0,Tiffany Jones,2018-03-22T09:14:01.848250,outsourced
759,6,0,Jacob Carpenter,2018-02-18T12:14:01.848250,main
324,8,0,Andrew Andrews,2017-11-11T16:14:01.848250,main