In [7]:
from datafuzz import DataSet, Fuzzer

In [8]:
dataset = DataSet('file://datafuzz/examples/data/iot.csv')

In [9]:
dataset.records.head()

,temperature,note,build,heartrate,username,latest
0,26,test,ce21744c-b623-9383-8c31-f4d7bbc054e2,75,arellanopamela,1
1,24,n/a,5127a8b3-24c0-8620-8717-54c7305905ad,65,christinescott,0
2,20,test,7fb595ce-b967-f083-3d40-3591d7b094d2,76,santanadave,0
3,14,wake,5913bc7d-d03c-e935-5667-6899baf669d9,66,michaelmorales,1
4,11,user,0cc7fa33-129d-03a1-1908-52fdac5074da,60,mitchellronald,1

In [10]:
fuzzer = Fuzzer(dataset, 
                percentage=30,
                columns=['temperature', 'username'])

In [11]:
fuzzer.run_strategy()

In [12]:
dataset.records.head()

,temperature,note,build,heartrate,username,latest
0,26,test,ce21744c-b623-9383-8c31-f4d7bbc054e2,75,arellanopamela,1
1,24,n/a,5127a8b3-24c0-8620-8717-54c7305905ad,65,c/h/r/i/s/t/i/n/e/s/c/o/t/t,0
2,20,test,7fb595ce-b967-f083-3d40-3591d7b094d2,76,santanadave,0
3,/etc,wake,5913bc7d-d03c-e935-5667-6899baf669d9,66,michaelmorales,1
4,11,user,0cc7fa33-129d-03a1-1908-52fdac5074da,60,mitchellronald,1